* {
    margin: 0;padding: 0;box-sizing: border-box;
}

.active-link {
  font-weight: bold;
  background-color: #3058d0;
}


button,select {
  background-color:transparent;
  border: none;
}

select {
  border-bottom: 1px solid #000;
}